@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(16,18,19);
  height: 100vh;
  overflow: hidden;
  color: white;
}

.App {
  height: 100%;
  width: 100%;
  margin: 0;
}

/***
ナビゲーションバー 
***/

nav {
  position: fixed;
  width: 170px;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(30,31,36);
  color: white;
}

nav .navLinks {
  display: flex;
  margin-top: 30px;
  flex-flow: column;
  list-style: none;
}

nav .navLinks li {
  margin-right: 170px;
  margin-bottom: 20px;
  cursor: pointer;
}

nav .navLinks2 {
  display: flex;
  margin-top: 400px;
  flex-flow: column;
  list-style: none;
}

nav .navLinks2 li {
  margin-right: 170px;
  margin-bottom: 10px;
  cursor: pointer;
}

.portforioContainer {
  width: 100%;
  height: 100vh;
  justify-content: space-evenly;
}

.title {
  margin: 0;
  padding-right: 800px;
  font-size: 2.5rem;
  font-weight: 800;
  color: white;
}

.walletConnect{
  display: flex;
  flex-flow: column;
  margin-top: 5%;
}

.playerContainer{
  display: flex;
  flex-flow: row;
  margin-left: 20%;
  width: 1200px;
  text-align: center;
}

.pc2Item{
  padding: 30px 50px;
  text-align: center;
}
.pc2Item2{
  padding: 30px 0px;
  text-align: center;
}

.playerContainer2{
  display: flex;
  flex-flow: row;
  margin-left: 20%;
  width: 1000px;
  text-align: center;
  border: solid 0.1px rgb(58, 53, 77); 
  border-radius: 50px;
  background-color: rgb(58, 53, 77);
}

.TrophyDiscription{
  color: white;
  font-size: 1.2rem;
  font-weight: 800;
  text-align: center;
  margin-left: 43%;
  height: 6vh;
  width: 1000px;
  border: solid 0.1px rgb(58, 53, 77); 
  border-radius: 50px;
  background-color: rgb(58, 53, 77);
  padding-top: 20px;
}

.TrophyDetail{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 1000px;
    margin-left: 20%;
    font-size: 18px;
    font-weight: 800;
}

.TrophyItemGold{
  padding: 20px 10px;
  background-color: goldenrod;
  border: solid 0.1px rgb(158,158,158); 
}

.TrophyItemSilver{
  padding: 20px 10px;
  background-color: silver;
  border: solid 0.1px rgb(158,158,158); 
}

.TrophyItemBlonze{
  padding: 20px 10px;
  background-color: rgb(179, 111, 49);
  border: solid 0.1px rgb(158, 158, 158); 
}

.playerItem2{
  margin-left: 5%;
  margin-top: 1%;
}

.playerItem p{
  font-size: 30px;
  color: darkgrey;
  margin-left: 20%;
  margin-top: 13%;
  align-items: center;
}

.Welcome p{
  color: darkgrey;
}

.scoreContainer{
  display: flex;
  flex-flow: row;
  height: 10vh;
  margin-left: 35%;
}

.ScoreTitle{
  margin-left: -40%;
  color: darkgray;
  font-size: 20px;
}

.Score{
  margin-left: 20%;
  font-size: 20px;
  background-color: rgb(30,31,36);
}

.ScoreTable{
  background-color: rgb(58, 53, 77);
  color: darkgray;
}

.Score th{
  color: darkgray;
}

.Score td{
  /*border: solid 0.1px rgb(58, 53, 77);  /* 枠線指定 */
  padding: 10px 30px;      /* 余白指定 */
  margin: 0 auto;
  color: darkgray;
}

.DetailButton{
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 10px;
  border: none;
  padding: 7px;
  width: 200px;
  text-align: center;
  font-size: 16px;
  background: rgb(74, 122, 211) !important;
  cursor: pointer;
  backdrop-filter: blur(5px);
  color: white !important;
}

.Item{
  margin-top: 2%;
  margin-left: 10px;
  align-items : center;
}

.border-radius {
  width: 200px;
  height: 200px;
  line-height: 200px;
  background-color: green;
  border-radius: 50%;
  color: #fff;
  text-align: center;
}

.walletConnect button{
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 10px;
  border: none;
  padding: 7px;
  width: 400px;
  text-align: center;
  font-size: 16px;
  background: rgb(74, 122, 211);
  cursor: pointer;
  backdrop-filter: blur(5px);
  color: white;
}
